*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* color-scheme: light; */
}

body {
  font-family: system-ui, sans-serif;
  font-family: Geist;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--bg);
  line-height: var(--space-3);    /* 24px */
  letter-spacing: .5px;
}

section {
  margin-block: var(--space-8); /* 64px top/bottom */
  padding-block: var(--space-9)
}

h1, h2, h3 {
  line-height: var(--space-5);
}

p {
  line-height: var(--space-3); /* 24px */
  max-width: 65ch;
}

header {
  text-align: center;
  background-color: var(--primary-color);
  width: 100%;
  height: auto;
  display: flex;

  .logo {
    justify-self: flex-start;
  }

  nav {
    background-color: var(--surface);
    display: flex;
    justify-content: end;

    ul {
      list-style: none;
      display: flex;

      li {
        text-decoration: none;
      }
    }
  }
}
main {
  padding-inline: var(--space-8); /* 64px */
}

#services {

  .service__grid {
    display: flex;
    gap: var(--space-3);
    border: 1px solid var(--border-color);

    .service {
      /* background: #fff;÷ */
      padding: 1.5rem;
      border-radius: 6px;
      border: 1px solid #eee;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
textarea {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

button {
  padding: 0.8rem;
  background: #222;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background: #000;
}

footer {
  text-align: center;
  padding: 2rem;
  color: var(--text-color);
  font-size: 0.9rem;
}

.service__icon-wrapper {
  width: 64px;
  height: 64px;
  background: var(--muted-teal); /* or a light gray-blue */
  border-radius: 16px; /* soft rounded square */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.icon {
  width: 32px;
  height: 32px;
  fill: black;
}